.Container1{
    display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 30px;
}

.Wrapper1{
   display: flex;
   align-items: center;
   flex-direction: column;
   border: 2px solid #003580;
   width: 500px;
   height: 500px;
   border-radius: 20px 20px 0px 0px;
   margin-top: 20px;
   margin-bottom: 20px;
}


.profileHeading{
    border: 1px solid #003580;
    display: flex;
    flex:0.3;
    justify-content: center;
    padding: 20px;
    color: white;
    width: 460px;
    background-color:#003580;
    border-radius: 19px 19px 0px 0px;
    
}

.profiledata{
    width: 100%;
    background-color:white;
    display: flex;
    flex: 6;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profiledataelement{
    color: white;
    display: flex;
    margin-bottom: 40px;
    justify-content: space-between;
}
.profiledataelement>h3{
    margin-right: 10px;
}

.label.label{
    margin-top:5px;
}

.label{
    margin-bottom: 10px;
    font-weight: normal;
}

.input{
    height: 30px;
    background-color: lightgray;
    border: none;
    width: 300px;
    margin-bottom: 10px;
}


.button{
    align-self: center;
    width: 120px;
    background-color: #0071c2;
    color: white;
    font-weight: bold;
    padding: 10px 5px;
    border: none;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 17px;
}


::placeholder {
   text-align: center;
   font-size: 15px;
   color: black;
  }

.input {
    text-align: center;
    font-size: 15px;
    color: black;
   }