.VehicleContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.VehicleWrapper{
    
    width: 100%;
    max-width: 1024px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
    
}

.setimage{
    display: flex;
    
}

.bookNow{
    position:absolute;
    top:10px;
    right: 0;
    border: none;
    padding: 10px 20px;
    background-color: #0071c2;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    cursor:pointer;
}
.contactBut{
   margin-top: 20px;
    border: none;
    padding: 10px 20px;
    background-color: #0071c2;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    cursor:pointer;
}

.VehicleTitle{
    font-size: 24px;
}
.VehicleAddress{
    
    font-size: 12px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.VehicleDistance{
    color:#0071c2;
    font-weight: 500;
}

.VehiclePriceHighlight{
    color:#008009;
    font-weight: 500;
    
}

.VehicleImages{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.VehicleImgWrapper{
    
    width: 33%;
}

.VehicleImg{
    width: 400px;
    height: 250px;
    
    object-fit: cover;
    cursor: pointer;
}

.VehicleDetails{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 20px;

}

.VehicleDetailsTexts{
    flex: 3;
}

.VehicleDesc{
    font-size: 14px;
    margin-top: 20px;
}

.VehicleDetailsPrice{
    margin-top: 30px;
    margin-left: 300px;
width: 400px;
    background-color: #ebf3ff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.VehicleDetailsPrice>h1{
    font-size:18px;
    color:#555;
}

.VehicleDetailsPrice>span{
    font-size: 14px;
}

.VehicleDetailsPrice>button{
    border: none;
    padding: 10px 20px;
    background-color: #0071c2;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
}

.slider{
    position:sticky;
    margin-top: -20px;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.426);
    z-index: 999;
    display: flex;
    align-items: center;
}

.contact{
    position:sticky;
    margin-top: -20px;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.426);
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slider2{
    position:sticky;
    margin-top: -20px;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
    z-index: 999;
    display: flex;
    align-items: center;
}
.sliderWrapper{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border:none
}
.sliderContact{
    height: 220px;
    width: 330px;
    background-color: #ebf3ff;
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    border-radius: 15px;
}
.sliderContact>h1{
    font-size:18px;
    color:#555;
}


.sliderContact>button{
    border: none;
    padding: 10px 20px;
    background-color: #0071c2;
    color: white;
    font-weight: bold;
    font-size: medium;
    cursor: pointer;
    border-radius: 5px;
}
.textStyle{
    text-align: center;
}
.sliderImg{
    width: 80%;
    height: 100%;
    border:none;
}

.close{
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 30px;
    color: lightgray;
    cursor: pointer;
  }
  
  .arrow{
    margin: 20px;
    font-size: 50px;
    color: lightgray;
    cursor: pointer;
  }
