.navbar{
    background-color: #003580;
    height: 50px;
    display: flex;
    justify-content: center;
}

.navContainer{
    width: 100%;
    max-width: 1024px;
    color:white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navButton{
    margin-left: 20px;
    border:none;
    padding: 5px 10px;
    cursor: pointer;
    color: #003580;
    
}

.logo{
    font-weight: 500;
}

.garageLogo{
    margin-top: 10px;
    object-fit: contain;
    height: 120px;
    width: 100px;
}